mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="Profile picture")
    .textareaContainer
      textarea#postTextarea(placeholder="What's happening?")
      .buttonsContainer
        button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#replyModalLongTitle.modal-title Reply
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer
              img(src=userLoggedIn.profilePic, alt="Profile picture")
            .textareaContainer
              textarea#replyTextarea(placeholder="What's happening?")
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#submitReplyButton(type='button', disabled="") Reply

mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#deletePostModalLongTitle.modal-title Delete the post?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p You won't be able to undo this delete
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#deletePostButton(type='button') Delete

mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
  - text = isFollowing ? "Following" : "Follow"
  - buttonClass = isFollowing ? "followButton following" : "followButton"
  button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
  - className = isSelected ? "tab active" : "tab"
  a(href=href, class=className) 
    span #{name}