mixin createPostForm(userLoggedIn)
  .postFormContainer
    .userImageContainer
      img(src=userLoggedIn.profilePic, alt="Profile picture")
    .textareaContainer
      textarea#postTextarea(placeholder="What's happening?")
      .buttonsContainer
        button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#replyModalLongTitle.modal-title Reply
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer
              img(src=userLoggedIn.profilePic, alt="Profile picture")
            .textareaContainer
              textarea#replyTextarea(placeholder="What's happening?")
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#submitReplyButton(type='button', disabled="") Reply

mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#deletePostModalLongTitle.modal-title Delete the post?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p You won't be able to undo this delete
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#deletePostButton(type='button') Delete

mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()
  +createPinnedPostModal()
  +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
  - text = isFollowing ? "Following" : "Follow"
  - buttonClass = isFollowing ? "followButton following" : "followButton"
  button(class=buttonClass, data-id=user._id) #{text}

mixin createTab(name, href, isSelected)
  - className = isSelected ? "tab active" : "tab"
  a(href=href, class=className) 
    span #{name}

mixin createImageUploadModal()
  #imageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageUploadModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#imageUploadModalLongTitle.modal-title Upload new profile picture
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#filePhoto(type="file", name="filePhoto")
          .imagePreviewContainer
            img#imagePreview
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button#imageUploadButton(type='button') Save

mixin createCoverPhotoUploadModal()
  #coverPhotoUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='coverPhotoUploadModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#coverPhotoUploadModalLongTitle.modal-title Upload new cover photo
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#coverPhotoInput(type="file", name="coverPhotoInput")
          .imagePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button#coverPhotoUploadButton(type='button') Save

mixin createPinnedPostModal()
  #confirmPinModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='confirmPinModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#confirmPinModalLongTitle.modal-title Pin this post?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p This post will appear at the top of your profile
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button#pinPostButton(type='button') Pin

mixin createUnpinPostModal()
  #unpinModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='unpinModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#unpinModalLongTitle.modal-title Unpin the post?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p This post will be unpinned.
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button#unpinPostButton(type='button') Unpin

mixin createChatImage(chatData, userLoggedIn)
  if (!chatData)
    return
  - let i = 0
  - const maxImagesToShow = 3
  - let remainingUsers = chatData.users.length - maxImagesToShow
  - remainingUsers--
  .chatImagesContainer
    if remainingUsers > 0
      .userCount
        span +#{remainingUsers}
    each user in chatData.users
      if chatData.users.length != 1 && user._id == userLoggedIn._id
        - continue
      else if i >= maxImagesToShow
        - break
      img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
      - i++

mixin createChatNameModal(chat)
  #chatNameModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chatNameModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#chatNameModalLongTitle.modal-title Change the chat name
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#chatNameTextbox(type="text", placeholder="Enter a name for the this chat", value=chat.chatName)
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          button#chatNameButton(type='button') Save

mixin createTypingIndicator()
  .typing
    .dot
    .dot
    .dot